## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khatanga,RU,71.9667,102.5000,45.52,60,13,12.28,few clouds
1,1,Bowen,AU,-20.0167,148.2333,69.28,73,89,10.07,overcast clouds
2,2,Kakching,IN,24.4833,93.9833,69.98,89,54,2.55,broken clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,48.31,37,0,14.97,clear sky
4,4,Vaini,TO,-21.2000,-175.2000,71.76,94,90,6.91,overcast clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,-21.2000,-175.2000,71.76,94,90,6.91,overcast clouds
10,10,East London,ZA,-33.0153,27.9116,77.67,59,33,10.36,scattered clouds
12,12,Sehithwa,BW,-20.4667,22.7167,81.37,17,0,9.78,clear sky
13,13,Yokadouma,CM,3.5167,15.0500,77.83,78,73,4.14,broken clouds
14,14,Makakilo City,US,21.3469,-158.0858,74.68,82,90,6.91,overcast clouds
17,17,Rikitea,PF,-23.1203,-134.9692,73.36,71,10,10.56,clear sky
19,19,Nishihara,JP,26.1842,127.7558,82.06,89,75,9.22,broken clouds
20,20,Albany,US,42.6001,-73.9662,73.80,68,54,5.12,broken clouds
22,22,Ambon,ID,-3.6954,128.1814,77.14,94,40,3.44,moderate rain
24,24,Avarua,CK,-21.2078,-159.7750,73.45,94,75,5.75,light rain

In [31]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                296
City                   296
Country                295
Lat                    296
Lng                    296
Max Temp               296
Humidity               296
Cloudiness             296
Wind Speed             296
Current Description    296
dtype: int64

In [33]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,-21.2000,-175.2000,71.76,94,90,6.91,overcast clouds
10,10,East London,ZA,-33.0153,27.9116,77.67,59,33,10.36,scattered clouds
12,12,Sehithwa,BW,-20.4667,22.7167,81.37,17,0,9.78,clear sky
13,13,Yokadouma,CM,3.5167,15.0500,77.83,78,73,4.14,broken clouds
14,14,Makakilo City,US,21.3469,-158.0858,74.68,82,90,6.91,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
683,683,Isla Mujeres,MX,21.2311,-86.7310,82.45,85,100,11.03,overcast clouds
685,685,Gazojak,TM,41.1875,61.4036,71.08,14,0,9.22,clear sky
686,686,Rudbar,AF,30.1500,62.6000,83.43,15,0,5.01,clear sky
687,687,Tabou,CI,4.4230,-7.3528,81.88,73,52,10.22,broken clouds
688,688,Takoradi,GH,4.8845,-1.7554,78.85,83,52,9.78,moderate rain

In [34]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
4,Vaini,TO,71.76,-21.2000,-175.2000,overcast clouds,
10,East London,ZA,77.67,-33.0153,27.9116,scattered clouds,
12,Sehithwa,BW,81.37,-20.4667,22.7167,clear sky,
13,Yokadouma,CM,77.83,3.5167,15.0500,broken clouds,
14,Makakilo City,US,74.68,21.3469,-158.0858,overcast clouds,
17,Rikitea,PF,73.36,-23.1203,-134.9692,clear sky,
19,Nishihara,JP,82.06,26.1842,127.7558,broken clouds,
20,Albany,US,73.80,42.6001,-73.9662,broken clouds,
22,Ambon,ID,77.14,-3.6954,128.1814,moderate rain,
24,Avarua,CK,73.45,-21.2078,-159.7750,light rain,

In [35]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping")

Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping

In [36]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   295
Country                295
Max Temp               295
Lat                    295
Lng                    295
Current Description    295
Hotel Name             295
dtype: int64

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
Current_Description = hotel_df['Current Description']
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))